.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
.header {
  padding: 0;
}
.header li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
